body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-bar {
    background: #d32f2f;
    padding: 15px;
}

.banner {
    background: white;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

#screen-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

.arrow {
    font-size: 28px;
    padding: 15px 22px;
    border: none;
    border-radius: 10px;
    background: #d32f2f;
    color: white;
}

#screen-indicator {
    font-size: 26px;
    background: white;
    padding: 10px 18px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.back-button,
.global-back {
    font-size: 20px;
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
    background: #555;
    color: white;
}

.map-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-image {
    width: 100%;
    max-width: 500px;
    max-height: 65vh;
    object-fit: contain;
}

.map-container {
    position: relative;
    display: inline-block;
}

.you-are-here {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #d32f2f;
    border-radius: 50%;
    border: 3px solid white;

    top: 54%;
    left: 40%;

    transform: translate(-50%, -50%);
}

.you-are-here span {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);

    background: #333;
    color: white;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 14px;
    white-space: nowrap;
}